.category-section{
    padding-bottom: 0px !important;
}

.gallery-section{
    padding-top: 0px !important;
}

.image-gallery{

    height: 230px;
    
}

.text-label{
    color: #7fb401 !important;
}
    